.content {
  padding: 0 15vmax;
  margin-bottom: 5vw;
}
.content header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}
.content header span {
  padding: 10%;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #d3d3d3;
  font-size: 2.5vw;
}
.content header nav {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #d3d3d3;
  text-align: right;
  padding: 1%;
}
.content header nav a {
  font-size: 2vw;
  text-decoration: none;
  margin: 1% 4%;
  padding: 0.1% 1%;
  color: #000;
}
.content header nav a:hover,
.content header nav a.active {
  background-color: #808080;
  color: #ff0;
}
.content .images {
  margin: 0.2vw 0;
  display: grid;
  column-gap: 0.1vw;
  row-gap: 0.1vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 4.8vw);
}
.content .images img {
  width: 100%;
  height: 100%;
}
.content .images .pictures__left {
  grid-row: 1/4;
  grid-column: 1/2;
}
.content .images .pictures__topright {
  grid-row: 1/2;
  grid-column: 2/3;
}
.content .images .pictures__midright {
  grid-row: 2/3;
  grid-column: 2/3;
}
.content .images .pictures__downright {
  grid-row: 3/4;
  grid-column: 2/3;
}
.content .textarea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1%;
}
.content .textarea img {
  width: 20%;
  height: 20%;
}
.content .textarea header {
  font-size: 1.8rem;
}
.content .textarea text {
  line-height: 95%;
  font-size: 1.2rem;
}
.content .textarea .text-blocks__block1 {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  background-color: #fffafa;
  height: fit-content;
  font-size: 1vw;
  padding-bottom: 1%;
  box-sizing: border-box;
}
.content .textarea .text-blocks__block2 {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
  background-color: #fffafa;
  height: fit-content;
  font-size: 1vw;
  padding-bottom: 1%;
  box-sizing: border-box;
}
.content .textarea .text-blocks__block3 {
  text-align: center;
  background-color: #fffafa;
  height: fit-content;
  font-size: 1vw;
  padding-bottom: 1%;
  box-sizing: border-box;
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: center;
  background-color: #fffafa;
  height: fit-content;
  font-size: 1vw;
  padding-bottom: 1%;
  box-sizing: border-box;
}
.content .textarea .text-blocks__block4 {
  grid-row: 1/2;
  grid-column: 4/5;
  text-align: center;
  background-color: #fffafa;
  height: fit-content;
  font-size: 1vw;
  padding-bottom: 1%;
  box-sizing: border-box;
}
footer {
  background-color: #808080;
  text-align: right;
}
footer .person {
  font-size: 1.5vw;
  padding: 0.5% 1%;
  float: left;
}
footer .contact {
  font-size: 1.5vw;
  padding: 0.5% 1%;
}
@media (max-width: 800px) {
  .content {
    padding: 0;
    margin-bottom: 2vw;
  }
  .content header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .content header span {
    display: none;
  }
  .content header nav {
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .content .images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 0.3vh;
  }
  .content .images .pictures__left {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .content .images .pictures__topright {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .content .images .pictures__middleleft {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .content .images .pictures__downleft {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .content .textarea {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .content .textarea .text-blocks__text-lines {
    margin: 0;
    text-align: center;
    line-height: 95%;
    font-size: 1.5rem;
  }
  .content .textarea .text-blocks__logo {
    padding: 2% 0 0;
    width: 10%;
    height: 10%;
  }
  .content .textarea .text-blocks__header {
    font-size: 2rem;
  }
  .content .textarea .text-blocks__block1 {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0.5% 0%;
  }
  .content .textarea .text-blocks__block2 {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0.5% 0%;
  }
  .content .textarea .text-blocks__block3 {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0.5% 0%;
  }
  .content .textarea .text-blocks__block4 {
    grid-row: 5/6;
    grid-column: 1/2;
    margin: 0.5% 0%;
  }
}
